@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy-ExtraBold';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

.backgroud-modules{
  /* Оформление */
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: bottom center;

  /* Блочная модель */
  padding-bottom: 540px;
}

a {
	color: inherit;
	text-decoration: none;
}

.main-content {
    /* Блочная модель */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Оформление */
    background-color: #222020;
    height: 100vh;
}

.title-modules{
    /* Типографика */
    font-family: 'Graphik LCG';
    font-size: 40px;
    color: #000;
}
.title{
    /* Оформление */
    color: #fff;

    /* Типографика */
    font-family: 'Graphik LCG';
    font-family: sans-serif;

    /* Блочная модель */
    margin-bottom: 30px;
}

.download{
    /* Блочная модель */
    display: inline-block;
    padding: 20px;

    /* Оформление */
    background-color: #2f1ce4; /*цвет Skillbox*/
    color: #fff;
    border: solid #2f1ce4 3px;
}

.details{
  /* Блочная модель */
  display: inline-block;
  padding: 20px;
  margin-left: 10px;

  /* Оформление */
  background-color: transparent;
  color: #fff;
  border: solid #fff 3px;
}

.container{
  /* Блочная модель */
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Верстка страницы modules */

.container-modules{
  /* Блочная модель */
  margin: 100px auto 0;
  width: 1025px;
  font-size: 0;
}
.container-modules .headline-modules{
  /* Оформление */
  color: #000;

  /* Типографика */
  font-size: 48px;
  font-family: 'Gilroy-ExtraBold';

  /* Блочная модель */
  margin-bottom: 90px;
  margin-left: 20px;;
}

.container-modules .description{
  /* Блочная модель */
  padding: 30px 30px 30px 56px;
  height: 325px;
  position: relative;
}

.container-modules .description .number{
  /* Блочная модель */
  position: absolute;
  bottom: 32px;
  right: 25px;

  /* Типографика */
  font-size: 48px;

  /* Оформление */
  color: #eaeaea;
}

.container-modules .container-modules-item{
  /* Блочная модель */
  display: inline-block;
  vertical-align: top;
  width: 480px;
  margin-bottom: 60px;

  /* Оформление */
  box-shadow: 0 3px 20px 0 rgba(0,0,0, 0.31);
}
.container-modules .container-modules-item.right{
  /* Блочная модель */
  margin-left: 60px;
}

.container-modules .title-card{
  /* Оформление */
  color: #2f1ce4;

  /* Типографика */
  font-family: 'Gilroy-ExtraBold';
  font-size: 36px;
}

.container-modules .description ul li{
  /* Оформление */
  list-style: none;

  /* Типографика */
  font-size: 16px;
  font-family: 'Gilroy';

  /* Блочная модель */
  margin-top: 20px;
}
.container-modules .description ul .first{
  /* Блочная модель */
  margin-top: 36px;
}

.container-modules .btn-center{
  /* Блочная модель */
  text-align: center;
  margin-top: 37px;
}

.container-modules .btn-center a{
  /* Блочная модель */
  display: inline-block;
  text-align: center;
  width: 280px;
  height: 80px;
  line-height: 80px;

  /* Оформление */
  border: solid 3px #2f1ce4;
  color: #3d2be6;
  border-radius: 2px;

  /* Типографика */
  font-family: 'Gilroy-Regular';
  font-size: 18px;
}

/* Верстка страницы modules */

.back a{
  /* Оформление */
  background-image: url(../img/return.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  /* Блочная модель */
  padding-left: 30px;

  /* Типографика */
  color: #000;
}
.back-modules{
  /* Блочная модель */
  margin-top: 60px;
}
.back-modules a{
  /* Типографика */
  font-size: 18px;
  font-family: 'Graphik LCG';
}

.main-title{
  /* Блочная модель */
  margin-top: 100px;
  padding-left: 100px;

  /* Типографика */
  font-size: 48px;

  /* Оформление */
  color: #222020;
}

.section-title{
  /* Блочная модель */
  padding-left: 180px;
  margin-top: 100px;
  margin-bottom: 25px;

  /* Типографика */
  font-size: 36px;

  /* Оформление */
  color: #2f1ce4; /*цвет Skillbox*/
}

.list{
  /* Блочная модель */
  padding-left: 200px;

  /* Типографика */
  font-size: 18px;
}

ol.list li{
  /* Блочная модель */
  margin: 5px 0;
}

ol.list li.first{
  /* Оформление */
  color: #2f1ce4; /*цвет Skillbox*/
}

ol.list li.first a{
  /* Блочная модель */
  margin: 5px 0;

  /* Оформление */
  border-bottom: solid 1px #2f1ce4; /*цвет Skillbox*/
}

ul.list li{
  /* Блочная модель */
  margin: 5px 0;

  /* Оформление */
  color: #2f1ce4; /*цвет Skillbox*/
}

ul.list li span{
  /* Оформление */
  color: #000;
}

p.text{
  /* Блочная модель */
  padding-left: 180px;
  margin-bottom: 20px;
}

figure{
  /* Блочная модель */
  display: inline-block;
  padding-left: 200px;
  text-align: center;
  margin: 50px 0;
}

figure img{
  /* Блочная модель */
  max-width: 400px;
}

figure figcaption{
  /* Блочная модель */
  margin-top: 20px;
}

#tagTable{
  /* Блочная модель */
  margin-top: 100px;

  /* Оформление */
  border: solid 1px #a0a0a0;
  border-collapse: collapse;
}

#tagTable td{
  border: solid 1px #a0a0a0;
}

#tagTable .tagTable-title{
  /* Блочная модель */
  padding: 20px;
}

#tagTable .main-tags{
  /* Оформление */
  color: #2f1ce4; /*цвет Skillbox*/
}


